<!DOCTYPE HTML>
<html>
<head>
	<meta charset='UTF-8'/>
	<title>Nội Thất MCG::Bí quyết chiếu sáng phòng khách</title>
	<link rel="stylesheet" href='../css/style.css' />
	<link rel="stylesheet" href='../css/articles.css' />
	<![if !IE]>
	<link rel="icon" href="../images/mcg.ico" type="image/x-icon" />
	<![endif]>
	<!-- This is needed for IE -->
	<link rel="shortcut icon" href="../images/mcg.ico" type="image/ico" />
</head>

<body class="articles">
	<div id="top-bar">
		<div class="container_16">
			<div class="grid_6">&nbsp;</div>
			<div class="grid_4 hotline">
				Hotline: (04)6 269 8625 
			</div>

			<div id="top-menu">
				<ul>
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Giới thiệu</a></li>
					<li><a href="#">Kiến thức</a></li>
					<li><a href="#">Liên hệ</a></li>
				</ul>
			</div>
		</div>
	</div><!-- end of #top-bar -->
	<header>
		<div class="container_16">
			<div id="logo" class="grid_5">
				<a href="index.html"><img src="../images/mcg-logo.png" alt="MCG Logo" /></a>
			</div><!-- end of #logo -->

			<div id="ad" class="grid_7">
				&nbsp;
			</div><!-- end of #ad -->

			<div id="searching" class="grid_4">
				<form name="searching">
					<input name="search" placeholder="Tìm kiếm"/>
					<button type="submit">&nbsp;</button>
				</form>
			</div><!-- end of #searching -->

			<div class="clear"></div>

			<div id="main-menu" class="grid_16">
				<ul>
					<li><a href="index.html">TRANG CHỦ</a></li>
					<li><a href="#">NỘI THẤT GIA ĐÌNH</a>
						<ul>
							<li><a href="#">PHÒNG KHÁCH</a></li>
							<li><a href="#">PHÒNG NGỦ</a></li>
							<li><a href="#">PHÒNG LÀM VIỆC</a></li>
							<li><a href="#">PHÒNG ĂN, TỦ BẾP</a></li>
							<li><a href="#">PHÒNG TRẺ EM</a></li>
							<li><a href="#">KỆ TRANG TRÍ, KỆ TREO TƯỜNG</a></li>
						</ul>
					</li>
					<li><a href="#">NỘI THẤT VĂN PHÒNG</a></li>
					<li><a href="#">CÔNG TRÌNH THI CÔNG</a></li>
					<li><a href="#">NHÀ ĐẸP</a></li>
					<li><a href="#">LIÊN HỆ</a></li>
				</ul>
			</div>
		</div>
	</header>

	<nav>
		<div class="container_16">
			<ul class="grid_16">
				<li>
					<a href="#"><img src="../images/mcg-banan.jpg" /></a>
					<a href="#">Bàn ăn</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-bantrangdiem.jpg" /></a>
					<a href="#">Bàn trang điểm</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-bantra.jpg" /></a>
					<a href="#">Bàn trà</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-tubep.jpg" /></a>
					<a href="#">Tủ bếp</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-giuongngu.jpg" /></a>
					<a href="#">Giường ngủ</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-tuquanao.jpg" /></a>
					<a href="#">Tủ quần áo</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-sofa.jpg" /></a>
					<a href="#">Sofa</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-banlamviec.jpg" /></a>
					<a href="#">Bàn làm việc</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="content" class="container_16">
		<div id="breadcrumbs" class="grid_16">
			<ul>
				<li><a href="index.html">Trang chủ</a></li>
				<li><a href="#">Tin tức</a></li>
			</ul>
		</div>
		<div class="clear"></div>
		<aside class="grid_4">
			<div id="cat" class="widget">
				<h1>Sản phẩm</h1>
				<ul>
					<li><a href="#">Phòng khách</a>
						<ul>
							<li><a href="#">Kệ ti vi và giá sách</a></li>
							<li><a href="#">Sofa</a></li>
							<li><a href="#">Tủ rượu, tủ trang trí</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng ngủ</a>
						<ul>
							<li><a href="#">Giường ngủ</a></li>
							<li><a href="#">Tủ áo</a></li>
							<li><a href="#">Bàn trang điểm</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng ăn, tủ bếp</a>
						<ul>
							<li><a href="#">Bộ bàn ăn</a></li>
							<li><a href="#">Tủ bếp</a></li>
							<li><a href="#">Quầy bar</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng làm việc</a>
					</li>
					<li><a href="#">Phòng trẻ em</a>
					</li>
					<li><a href="#">Kệ trang trí, Kệ treo tường</a>
					</li>
				</ul>
			</div>

			<div id="promotion" class="widget">
				<h1>Khuyến mãi</h1>
				<div class="product">
					<a href="#"><img src="../images/products/pk2.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 3</a></p>
					<p class="old-price">10.990.000 VND</p>
					<p class="price">9.990.000 VND</p>
				</div>
				<div class="product">
					<a href="#"><img src="../images/products/pn3.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 3</a></p>
					<p class="old-price">12.990.000 VND</p>
					<p class="price">10.990.000 VND</p>
				</div>
				<div class="clear"></div>
			</div>
		</aside>
		<article class="grid_12">
			<section id="article-detail"><!-- #1 -->
				<h1 class="post-title">Bí quyết chiếu sáng phòng khách</h1>
				<div class="meta"><div class="post-date">18-11-2013</div> <div class="post-cat">Kiến thức</div></div>
				<div class="post-content">
<h3>1. Đèn hốc tường hoặc đèn hắt</h3>
<p>Nếu chọn lắp đặt các đèn âm trần và đèn hắt, phòng khách có thể được chiếu sáng toàn bộ hoặc chiếu sáng một vùng tùy theo cách bố trí đèn của bạn. Với loại đèn hốc tường, bạn nên sử dụng kết hợp thêm một đèn treo giữa căn phòng để chiếu sáng cho toàn bộ phòng khách. Tại những không gian riêng biệt, bạn có thể sử dụng các đèn tụ để chiếu sáng sẽ làm nổi bật không gian.</p>
<h3>2. Đèn để sàn và đèn bàn</h3>
<p>Đèn để sàn và đèn bàn là những loại đèn rất thích hợp để chiếu sáng trong phòng khách. Những loại đèn này cho phép bạn di chuyển chúng khắp phòng. Đèn bàn và đèn để sàn thường được đặt ở trên bàn hoặc giá đỡ và có lồng đèn bên ngoài. Thông thường các loại đèn này chủ yếu dùng để đọc sách báo. Bạn cần chú ý bố trí đèn ở các vị trí trong phòng để không gây chói mắt.</p>
<h3>3. Thiết bị chỉnh độ sáng đèn chiếu </h3>
<p>Để tạo được ấn tượng cho phòng khách, bạn hãy sử dụng các thiết bị điều chỉnh độ sáng. Bạn có thể thay đổi hiệu ứng chiếu sáng theo tâm trạng và các hoạt động trong phòng khách nhờ vào bộ điều chỉnh. Bộ điều chỉnh rất thiết thực và linh hoạt để điều khiển độ sáng cho phòng khách cho các nhu cầu khác nhau của gia đình.</p>
<h3>4. Hiệu ứng đặc biệt của chiếu sáng</h3>
<p>Để tạo một hiệu ứng khác biệt, bạn có thể thay đổi vị trí các đèn. Để chiếu sáng một khu vực độc lập, bạn có thể sử dụng các đèn tụ. Để tạo ấn tượng cho trần, bạn nên sử dụng các đèn hắt âm trần. Một chút sáng tạo và hiểu biết về công dụng của các loại đèn sẽ giúp bạn làm chủ trong việc tạo nên vẻ đẹp đặc biệt cho phòng khách nhà mình.</p>
<h3>5. Ánh sáng trong phòng khi xem TV </h3>
<p>Nếu bạn xem TV trong phòng khách, bạn nên sử dụng ánh sáng đèn có cường độ vừa phải. Nếu đèn quá sáng hoặc qua tối có thể gây chứng mỏi mắt hoặc nhức đầu. Bạn nên đặt đèn phía sau hoặc bên cạnh TV để làm giảm độ sáng cho môi trường xung quanh TV. Khi xem TV, bạn nên kiểm tra lại vị trí thích hợp của đèn để tránh sự phản chiếu ánh sáng qua màn hình TV.</p>
<h3>6. Chiếu sáng quầy bar trong phòng khách </h3>
<p>Một loạt các đèn treo phía trên có thể giúp quầy bar thêm quyến rũ bởi ánh sáng từ các bóng đèn. Bạn có thể sử dụng loại đèn ống halogen điện áp thấp ở khu vực quầy bar của phòng khách. Loại đèn ống này sẽ làm lấp lánh các đồ đạc bằng thủy tinh ở đây. Bạn cũng có thể dùng thêm đèn chiếu sáng cho bàn uống nước gần quầy bar.</p>
<h3>7. Chiếu sáng phòng khách với lò sưởi </h3>
<p>Nếu phòng khách nhà bạn có lò sưởi xây bằng gạch hoặc đá, bạn nên sử dụng kết hợp với các đèn treo trần. Để chiếu sáng bổ sung cho lò sưởi, bạn có thể sử dụng các loại đèn tường.</p>
<h3>8. Chiếu sáng cho phòng khách diện tích nhỏ </h3>
<p>Nếu phòng khách nhà bạn hơi bé, bạn có thể làm cho nó rộng hơn bằng cách tập trung xử lý chiếu sáng cho một bức tường trong phòng. Với diện tích khiêm tốn, bạn nên sử dụng các loại đèn âm trần cho không gian phòng khách. Để tăng thêm hiệu quả chiếu sáng, khoảng cách các bóng đèn đến tường nhà nên lắp bằng nhau. </p>
<h3>9. Một số lưu ý khi chiếu sáng cho phòng khách</h3>
<p>- Làm nổi bật màu sơn tường bằng cách sử dụng các đèn halogen điện áp thấp.</p>
<p>- Sử dụng phối hợp các loại đèn như đèn chính kết hợp với đèn halogen giúp ánh sáng phân bố đều.</p>
<p>- Sử dụng hệ thống công tắc đèn độc lập cho các đèn lắp đặt ở các khu vực khác nhau.</p>
<p>- Cố gắng phân cấp loại đèn trong phòng khách cho các phong cách chiếu sáng khác nhau.</p>
<p>- Sử dụng các thiết bị điện áp thấp để chiếu sáng những vị trí ma bạn muố làm điểm nhấn.</p>
<p>- Chiếu sáng tranh hoặc các vật trang trí khác được treo trên tường trong phòng khách bằng các đèn tường, đèn âm tường hoặc đèn hắt.</p>
				</div><!-- end of .post-content -->
				<div class="clear"></div>
			</section>
			
			<div class="folder-title"><h1>Các bài viết khác</h1></div>
			
			<section><!-- #2 -->
				<h1><a href="#">Trang trí phòng ngủ trẻ em đẹp</a></h1>
				<div class="illus"><a href="#"><img src ="../images/articles/thumbs/phongtre_9.jpg" /></a></div>
				<div class="meta"><div class="post-date">18-11-2013</div> <div class="post-cat">Kiến thức</div></div>
				<div class="desc">Đồ trang trí trong phòng ngủ trẻ em thường rẻ hơn đồ nội thất thông thường và thường là những đồ ngộ nghĩnh, vui mắt. Tự trang trí nội thất phòng trẻ em cùng con bạn cũng là một cách để cha mẹ và con cái cùng thỏa sức sáng tạo và vui đùa. Đồ trang trí ngoài giá trị thẩm mỹ , còn nên có những công năng nhất định mà bé có thể sử dụng được trong một thời gian chừng 2 hay 3 năm. Đồ trang trí phòng trẻ em không nhất thiết là những vật dụng đắt tiền ngoài cửa hàng, mà bạn hoàn toàn có thể cùng bé tự tạo ra.</div>
				<a class="more-view" href="#">Xem thêm &gt;</a>
				<div class="clear"></div>
			</section>
			
			<section><!-- #3 -->
				<h1><a href="#">Kiến thức cần biết để chọn giường ngủ cho bé</a></h1>
				<div class="illus"><a href="#"><img src ="../images/articles/thumbs/Giuong_tre_em_7.jpg" /></a></div>
				<div class="meta"><div class="post-date">13-11-2013</div> <div class="post-cat">Kiến thức</div></div>
				<div class="desc">Khi chọn giường trẻ em riêng cho bé lần đầu, cha mẹ có thể bị phân vân giữa vô vàn lựa chọn. Nên lựa chọn giường ngủ thiết kế riêng cho trẻ em, hay chọn một chiếc giường đơn bình thường? Nên chọn giường đệm lò xo hay giường đệm cao su ? Và nên chọn gối, chăn, đệm cho bé thế nào?</div>
				<a class="more-view" href="#">Xem thêm &gt;</a>
				<div class="clear"></div>
			</section>
			
			<section><!-- #4 -->
				<h1><a href="#">Cách bày trí phòng khách với diện tích hạn chế</a></h1>
				<div class="illus"><a href="#"><img src ="../images/articles/thumbs/phongkhachnho1.JPG" /></a></div>
				<div class="meta"><div class="post-date">12-11-2013</div> <div class="post-cat">Kiến thức</div></div>
				<div class="desc">Một căn hộ với diện tích phòng khách không to lắm thường hạn chế khả năng bày trí và thiết kế của chủ nhân. Tuy nhiên, với một chút sáng tạo trong cách bố trí đồ nội thất, sử dụng linh hoạt các ngăn tủ đựng đồ và một mảng màu ấm áp, đơn giản, bạn hoàn toàn có thể tự biến phòng khách nhỏ trở thành một phòng sinh hoạt gia đình ấm cúng, tiện nghi.</div>
				<a class="more-view" href="#">Xem thêm &gt;</a>
				<div class="clear"></div>
			</section>
			
			<section><!-- #5 -->
				<h1><a href="#">Cách bày trí bàn làm việc tại nhà đẹp và gọn gàng</a></h1>
				<div class="illus"><a href="#"><img src ="../images/articles/thumbs/ban_lam_viec_2.jpg" /></a></div>
				<div class="meta"><div class="post-date">30-10-2013</div> <div class="post-cat">Kiến thức</div></div>
				<div class="desc">Với những người thường xuyên phải sử dụng bàn làm việc tại nhà, việc trang trí và sắp xếp ngăn nắp, gọn gàng bàn làm việc là vô cùng quan trọng. Những đồ trang trí chứa đựng nhiều kỷ niệm cũng như những vật dụng nhỏ nhiều tính năng có thể khiến tâm lý làm việc của bạn thoải mái hơn và làm việc hiệu quả hơn</div>
				<a class="more-view" href="#">Xem thêm &gt;</a>
				<div class="clear"></div>
			</section>
			
			<section><!-- #6 -->
				<h1><a href="#">Tuyệt chiêu phòng nấm mốc cho ngôi nhà</a></h1>
				<div class="illus"><a href="#"><img src ="../images/articles/thumbs/chong-nam-moc-cho-ngoi-nha.jpg" /></a></div>
				<div class="meta"><div class="post-date">27-10-2013</div> <div class="post-cat">Kiến thức</div></div>
				<div class="desc">Nấm mốc trên tường không chỉ làm mất thẩm mỹ ngôi nhà mà còn phá hủy lớp sơn tường và gây ảnh hưởng đến sức khỏe của gia đình bạn.</div>
				<a class="more-view" href="#">Xem thêm &gt;</a>
				<div class="clear"></div>
			</section>
			
			<div class="pagination">
				<a href="#">&lt; Trước</a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">Sau &gt;</a>
			</div>
		</article>
		
	</div><!--end of #content-->
	<footer>
		<div class="company-info ">
			<div class="container_16">
				<div class="grid_16">
					<h3>Công ty TNHH Kiến trúc Nội thất MCG</h3>
					<p>Địa chỉ: Tòa nhà F5, Khu Đô thị mới Yên Hòa, Cầu Giấy, Hà Nội</p>
					<p>Điện thoại: (04) 6 269 8625</p>
					<p>Email: noithat.mcg@gmail.com &nbsp;&nbsp;Website: <a href="http://noithatmcg.com">http://noithatmcg.com</a></p>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container_16">
				<div class="grid_16">
					<p>Designed and developed by Nathiwos (<a href="http://www.nathiwos.com">http://www.nathiwos.com</a>)</p>
				</div>
			</div>
		</div>
	</footer><!-- end of footer -->
</body>
</html>
