<!DOCTYPE HTML>
<html>
<head>
	<meta charset='UTF-8'/>
	<title>Nội Thất MCG:Liên hệ</title>
	<link rel="stylesheet" href='../css/style.css' />
	<link rel="stylesheet" href="../css/contact.css" />
	<![if !IE]>
	<link rel="icon" href="../images/mcg.ico" type="image/x-icon" />
	<![endif]>
	<!-- This is needed for IE -->
	<link rel="shortcut icon" href="../images/mcg.ico" type="image/ico" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		function initialize() {
			var map_canvas = document.getElementById('google-map');
			var map_options = {
				center: new google.maps.LatLng(21.019618,105.796709),
				zoom: 17,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(map_canvas, map_options);
		}
		google.maps.event.addDomListener(window,'load',initialize);
	</script>
</head>

<body class="products">
	<div id="top-bar">
		<div class="container_16">
			<div class="grid_6">&nbsp;</div>
			<div class="grid_4 hotline">
				Hotline: (04)6 269 8625 
			</div>

			<div id="top-menu">
				<ul>
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Giới thiệu</a></li>
					<li><a href="#">Kiến thức</a></li>
					<li><a href="#">Liên hệ</a></li>
				</ul>
			</div>
		</div>
	</div><!-- end of #top-bar -->
	<header>
		<div class="container_16">
			<div id="logo" class="grid_5">
				<a href="index.html"><img src="../images/mcg-logo.png" alt="MCG Logo" /></a>
			</div><!-- end of #logo -->

			<div id="ad" class="grid_7">
				&nbsp;
			</div><!-- end of #ad -->

			<div id="searching" class="grid_4">
				<form name="searching">
					<input name="search" placeholder="Tìm kiếm"/>
					<button type="submit">&nbsp;</button>
				</form>
			</div><!-- end of #searching -->

			<div class="clear"></div>

			<div id="main-menu" class="grid_16">
				<ul>
					<li><a href="index.html">TRANG CHỦ</a></li>
					<li><a href="#">NỘI THẤT GIA ĐÌNH</a>
						<ul>
							<li><a href="#">PHÒNG KHÁCH</a></li>
							<li><a href="#">PHÒNG NGỦ</a></li>
							<li><a href="#">PHÒNG LÀM VIỆC</a></li>
							<li><a href="#">PHÒNG ĂN, TỦ BẾP</a></li>
							<li><a href="#">PHÒNG TRẺ EM</a></li>
							<li><a href="#">KỆ TRANG TRÍ, KỆ TREO TƯỜNG</a></li>
						</ul>
					</li>
					<li><a href="#">NỘI THẤT VĂN PHÒNG</a></li>
					<li><a href="#">CÔNG TRÌNH THI CÔNG</a></li>
					<li><a href="#">NHÀ ĐẸP</a></li>
					<li><a href="#">LIÊN HỆ</a></li>
				</ul>
			</div>
		</div>
	</header>

	<nav>
		<div class="container_16">
			<ul class="grid_16">
				<li>
					<a href="#"><img src="../images/mcg-banan.jpg" /></a>
					<a href="#">Bàn ăn</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-bantrangdiem.jpg" /></a>
					<a href="#">Bàn trang điểm</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-bantra.jpg" /></a>
					<a href="#">Bàn trà</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-tubep.jpg" /></a>
					<a href="#">Tủ bếp</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-giuongngu.jpg" /></a>
					<a href="#">Giường ngủ</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-tuquanao.jpg" /></a>
					<a href="#">Tủ quần áo</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-sofa.jpg" /></a>
					<a href="#">Sofa</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-banlamviec.jpg" /></a>
					<a href="#">Bàn làm việc</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="content" class="container_16">
		<div id="breadcrumbs" class="grid_16">
			<ul>
				<li><a href="index.html">Trang chủ</a></li>
				<li><a href="#">Liên hệ</a></li>
			</ul>
		</div>
		<div class="clear"></div>
		<aside class="grid_4">
			<div id="cat" class="widget">
				<h1>Sản phẩm</h1>
				<ul>
					<li><a href="#" >Phòng khách</a>
						<ul>
							<li><a href="#">Kệ ti vi và giá sách</a></li>
							<li><a href="#">Sofa</a></li>
							<li><a href="#">Tủ rượu, tủ trang trí</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng ngủ</a>
						<ul>
							<li><a href="#">Giường ngủ</a></li>
							<li><a href="#">Tủ áo</a></li>
							<li><a href="#">Bàn trang điểm</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng ăn, tủ bếp</a>
						<ul>
							<li><a href="#">Bộ bàn ăn</a></li>
							<li><a href="#">Tủ bếp</a></li>
							<li><a href="#">Quầy bar</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng làm việc</a>
					</li>
					<li><a href="#">Phòng trẻ em</a>
					</li>
					<li><a href="#">Kệ trang trí, Kệ treo tường</a>
					</li>
				</ul>
			</div>

			<div id="promotion" class="widget">
				<h1>Khuyến mãi</h1>
				<div class="product">
					<a href="#"><img src="../images/products/pk2.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 3</a></p>
					<p class="old-price">10.990.000 VND</p>
					<p class="price">9.990.000 VND</p>
				</div>
				<div class="product">
					<a href="#"><img src="../images/products/pn3.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 3</a></p>
					<p class="old-price">12.990.000 VND</p>
					<p class="price">10.990.000 VND</p>
				</div>
				<div class="clear"></div>
			</div>
		</aside>
		<article class="grid_12">
			<section id="contact">
				<h1>Liên hệ</h1>
				<div class="company-info">
					<h3>Công ty TNHH Kiến trúc Nội thất MCG</h3>
					<p>Điện thoại: (04) 6 269 8625</p>
					<p>Email: noithat.mcg@gmail.com</p>
					<p>Website: <a href="#">http://noithatmcg.com</a></p>
					<p>Giờ làm việc: 8h-17h30 , từ thứ hai tới thứ bảy</p>
					<p><strong>Chúng tôi rất hân hạnh được phục vụ quý khách!</strong></p>
				</div><!-- end of #company-info -->
				<div class="map">
					<h3>Bản đồ</h3>
					<div id="google-map">
						<img class="mcg-map" src="../images.MCG-Map.jpg" alt="mcg-map" />
					</div>
				</div><!-- end of #map -->
				<div class="contact-form">
					<form method="post">
						<table>
							<tr>
								<td>Họ và tên *</td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td>Địa chỉ</td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td>Số điện thoại</td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td>Email *</td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td>Nội dung</td>
								<td><textarea></textarea></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><button type="submit" class="btn-style btn-cyan">Gửi yêu cầu</button></td>
							</tr>
						</table>
					</form>
				</div>
			</section><!-- end of #contact -->
		</article>
	</div><!--end of #content-->
	<footer>
		<div class="company-info ">
			<div class="container_16">
				<div class="grid_16">
					<h3>Công ty TNHH Kiến trúc Nội thất MCG</h3>
					<p>Địa chỉ: Tòa nhà F5, Khu Đô thị mới Yên Hòa, Cầu Giấy, Hà Nội</p>
					<p>Điện thoại: (04) 6 269 8625</p>
					<p>Email: noithat.mcg@gmail.com &nbsp;&nbsp;Website: <a href="http://noithatmcg.com">http://noithatmcg.com</a></p>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container_16">
				<div class="grid_16">
					<p>Designed and developed by Nathiwos (<a href="http://www.nathiwos.com">http://www.nathiwos.com</a>)</p>
				</div>
			</div>
		</div>
	</footer><!-- end of footer -->
</body>
</html>
