<!DOCTYPE HTML>
<html>
<head>
	<meta charset='UTF-8'/>
	<title>Nội Thất MCG::Kệ ti vi 2</title>
	<link rel="stylesheet" href='../css/style.css' />
	<link rel="stylesheet" href="../css/product-detail.css" />
	<![if !IE]>
	<link rel="icon" href="../images/mcg.ico" type="image/x-icon" />
	<![endif]>
	<!-- This is needed for IE -->
	<link rel="shortcut icon" href="../images/mcg.ico" type="image/ico" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			$('.tab_content:not(:first)').hide();

			$('.tabs li').click(function(){
				$('.tabs li').removeClass('active');
				$('.tab_content').hide();
				var activeTab = $(this).attr('class');
				$('#'+activeTab).fadeIn();
				$(this).addClass('active');
			});

			//[thien.nguyen] Handle quantity up/down button
			$('.quantity-container .up').click(function () {
				var p_quantity = $('.p-quantity').attr('value');
				$('.p-quantity').val(parseInt(p_quantity) + 1);
			});

			$('.quantity-container .down').click(function () {
				var p_quantity = $('.p-quantity').attr('value');
				if(parseInt(p_quantity) > 1)
					$('.p-quantity').val(parseInt(p_quantity) - 1);
			})
		})
	</script>
</head>

<body class="products">
	<div id="top-bar">
		<div class="container_16">
			<div class="grid_6">&nbsp;</div>
			<div class="grid_4 hotline">
				Hotline: (04)6 269 8625 
			</div>

			<div id="top-menu">
				<ul>
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Giới thiệu</a></li>
					<li><a href="#">Kiến thức</a></li>
					<li><a href="#">Liên hệ</a></li>
				</ul>
			</div>
		</div>
	</div><!-- end of #top-bar -->
	<header>
		<div class="container_16">
			<div id="logo" class="grid_5">
				<a href="index.html"><img src="../images/mcg-logo.png" alt="MCG Logo" /></a>
			</div><!-- end of #logo -->

			<div id="ad" class="grid_7">
				&nbsp;
			</div><!-- end of #ad -->

			<div id="searching" class="grid_4">
				<form name="searching">
					<input name="search" placeholder="Tìm kiếm"/>
					<button type="submit">&nbsp;</button>
				</form>
			</div><!-- end of #searching -->

			<div class="clear"></div>

			<div id="main-menu" class="grid_16">
				<ul>
					<li><a href="index.html">TRANG CHỦ</a></li>
					<li><a href="#">NỘI THẤT GIA ĐÌNH</a>
						<ul>
							<li><a href="#">PHÒNG KHÁCH</a></li>
							<li><a href="#">PHÒNG NGỦ</a></li>
							<li><a href="#">PHÒNG LÀM VIỆC</a></li>
							<li><a href="#">PHÒNG ĂN, TỦ BẾP</a></li>
							<li><a href="#">PHÒNG TRẺ EM</a></li>
							<li><a href="#">KỆ TRANG TRÍ, KỆ TREO TƯỜNG</a></li>
						</ul>
					</li>
					<li><a href="#">NỘI THẤT VĂN PHÒNG</a></li>
					<li><a href="#">CÔNG TRÌNH THI CÔNG</a></li>
					<li><a href="#">NHÀ ĐẸP</a></li>
					<li><a href="#">LIÊN HỆ</a></li>
				</ul>
			</div>
		</div>
	</header>

	<nav>
		<div class="container_16">
			<ul class="grid_16">
				<li>
					<a href="#"><img src="../images/mcg-banan.jpg" /></a>
					<a href="#">Bàn ăn</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-bantrangdiem.jpg" /></a>
					<a href="#">Bàn trang điểm</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-bantra.jpg" /></a>
					<a href="#">Bàn trà</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-tubep.jpg" /></a>
					<a href="#">Tủ bếp</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-giuongngu.jpg" /></a>
					<a href="#">Giường ngủ</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-tuquanao.jpg" /></a>
					<a href="#">Tủ quần áo</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-sofa.jpg" /></a>
					<a href="#">Sofa</a>
				</li>
				<li>
					<a href="#"><img src="../images/mcg-banlamviec.jpg" /></a>
					<a href="#">Bàn làm việc</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="content" class="container_16">
		<div id="breadcrumbs" class="grid_16">
			<ul>
				<li><a href="index.html">Trang chủ</a></li>
				<li><a href="#">Sản phẩm</a></li>
				<li><a href="#">Phòng khách</a></li>
				<li><a href="#">Kệ ti vi và giá sách</a></li>
			</ul>
		</div>
		<div class="clear"></div>
		<aside class="grid_4">
			<div id="cat" class="widget">
				<h1>Sản phẩm</h1>
				<ul>
					<li><a href="#" >Phòng khách</a>
						<ul>
							<li><a href="#" class="active">Kệ ti vi và giá sách</a></li>
							<li><a href="#">Sofa</a></li>
							<li><a href="#">Tủ rượu, tủ trang trí</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng ngủ</a>
						<ul>
							<li><a href="#">Giường ngủ</a></li>
							<li><a href="#">Tủ áo</a></li>
							<li><a href="#">Bàn trang điểm</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng ăn, tủ bếp</a>
						<ul>
							<li><a href="#">Bộ bàn ăn</a></li>
							<li><a href="#">Tủ bếp</a></li>
							<li><a href="#">Quầy bar</a></li>
						</ul>
					</li>
					<li><a href="#">Phòng làm việc</a>
					</li>
					<li><a href="#">Phòng trẻ em</a>
					</li>
					<li><a href="#">Kệ trang trí, Kệ treo tường</a>
					</li>
				</ul>
			</div>

			<div id="promotion" class="widget">
				<h1>Khuyến mãi</h1>
				<div class="product">
					<a href="#"><img src="../images/products/pk2.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 3</a></p>
					<p class="old-price">10.990.000 VND</p>
					<p class="price">9.990.000 VND</p>
				</div>
				<div class="product">
					<a href="#"><img src="../images/products/pn3.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 3</a></p>
					<p class="old-price">12.990.000 VND</p>
					<p class="price">10.990.000 VND</p>
				</div>
				<div class="clear"></div>
			</div>
		</aside>
		<article class="grid_12">
			<div id="product-detail">
				<div class="product-image grid_7 alpha">
					<div class="big-image"><img src="../images/products/pk1-big.jpg" /></div>
					<div class="gallery-thumbs">
						<ul>
							<li><img src="../images/products/pk1.jpg" /></li>
							<li><img src="../images/products/pk2.jpg" /></li>
						</ul>
					</div>
				</div>
				<div class="summary grid_5 omega">
					<h1>KỆ TIVI 2</h1>
					<h2 class="old-price">10.900.000 VND</h2>
					<h1 class="price">9.900.000 VND</h1>
					<p><label>Màu sắc: </label><span>Đen - Trắng</span></p>
					<p><label>Chất liệu: </label><span>Gỗ CN MDF sơn NIPPON màu trắng bóng mờ 50%</span></p>
					<p><label>Kích thước: </label><span>Dài: 2.4m x Rộng: 0.5m x Cao: 2.1m</span></p>
					<p><label>Vận chuyển: </label><span>Miễn phí trong nội thành</span></p>
					<form class="purchase" method="post">
						<table>
							<tr>
								<td><label for="purchase_color">Màu sắc:</label></td>
								<td>
									<select id="purchase_color">
										<option>Đen - Trắng</option>
									</select>
								</td>
							</tr>
							<tr>
								<td><label for="purchase_quantity">Số lượng:</label></td>
								<td class="quantity-container">
									<input type="text" id="purchase_quantity" class="p-quantity" value="1" />
									<ul class="btn-container">
										<li><button type="button" class="up"></button></li>
										<li><button type="button" class="down"></button></li>
									</ul>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<button type="submit" class="btn-style btn-cyan">
										Thêm vào giỏ hàng
									</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
				<div class="clear"></div>
				<div class="detail">
					<ul class="tabs">
						<li class="p-desc active">Mô tả sản phẩm</li>
						<li class="p-spec">Thông tin chi tiết</li>
					</ul>
					<div class="clear"></div>
					<div class="tab_container">
						<div id="p-desc" class="tab_content">
							<h1>Kệ Tivi 2</h1>
							<p>Kệ tivi được thiết kế phù hợp với phòng khách có phong cách hiện đại và ăn nhập với tông màu lạnh. công năng được thiết kế kếp hợp với chức năng kệ tivi và tủ đồ trang trí, chất liệu bằng gỗ công nghiệp MDF sơn NIPPON màu trắng. ray giam chấn  , phụ kiên hafele.</p>
						</div>

						<div id="p-spec" class="tab_content">
							<h2>Vận chuyển :</h2>
							<p>Miễn phí chuyển hàng trong nội thành </p>
							<h2>Vật liệu :</h2>
							<p>Gỗ công nghiệp , Veneer Óc Chó (Walnut ) </p>
							<h2>Kích thước tủ:</h2>
							<p>Dài: 2.4m x Rộng: 0.5m x Cao: 2.1m</p>
							<h2>Thiết kế :</h2>
							<p>Kệ tivi được thiết kế theo phong cách hiện đại, phù hợp không gian đơn giản và mộc mạc</p>
							<h2>Chất lượng :</h2>
							<p>Nguyên liệu dùng gỗ công nghiệp gỗ dán phủ Veneer ÓC Chó. tấm hậu bằng gỗ MDF dày 6 ly</p>
							<h2>Hoàn thiện :</h2>
							<p>Kệ tivi được thi công và lắp rắp hoàn thiện</p>
							<h2>Đơn giá :</h2>
							<p class="price">9.990.000 VND</p>
						</div>
					</div><!-- end of #tab_container -->
				</div>
			</div><!-- end of ##product-detail -->
			<section>
				<h1>Sản phẩm cùng loại</h1>
				<div class="product grid_3 alpha">
					<a href="#"><a href="#"><img src="../images/products/pk1.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 1</a></p>
					<p class="price">9.990.000 VND</p>
					<a class="adding-cart" href="#">Thêm vào giỏ</a>
					<a class="more-detail" href="#">Xem chi tiết</a>
				</div>
				<div class="product grid_3">
					<a href="#"><img src="../images/products/pk2.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 2</a></p>
					<p class="price">9.990.000 VND</p>
					<a class="adding-cart" href="#">Thêm vào giỏ</a>
					<a class="more-detail" href="#">Xem chi tiết</a>
				</div>
				<div class="product grid_3">
					<a href="#"><img src="../images/products/pk3.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 3</a></p>
					<p class="price">9.990.000 VND</p>
					<a class="adding-cart" href="#">Thêm vào giỏ</a>
					<a class="more-detail" href="#">Xem chi tiết</a>
				</div>
				<div class="product grid_3 omega">
					<a href="#"><img src="../images/products/pk4.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 4</a></p>
					<p class="price">9.990.000 VND</p>
					<a class="adding-cart" href="#">Thêm vào giỏ</a>
					<a class="more-detail" href="#">Xem chi tiết</a>
				</div>
				<div class="product grid_3 alpha">
					<a href="#"><img src="../images/products/pn1.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 1</a></p>
					<p class="price">9.990.000 VND</p>
					<a class="adding-cart" href="#">Thêm vào giỏ</a>
					<a class="more-detail" href="#">Xem chi tiết</a>
				</div>
				<div class="product grid_3">
					<a href="#"><img src="../images/products/pn2.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 2</a></p>
					<p class="price">9.990.000 VND</p>
					<a class="adding-cart" href="#">Thêm vào giỏ</a>
					<a class="more-detail" href="#">Xem chi tiết</a>
				</div>
				<div class="product grid_3">
					<a href="#"><img src="../images/products/pn3.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 3</a></p>
					<p class="price">9.990.000 VND</p>
					<a class="adding-cart" href="#">Thêm vào giỏ</a>
					<a class="more-detail" href="#">Xem chi tiết</a>
				</div>
				<div class="product grid_3 omega">
					<a href="#"><img src="../images/products/pn4.jpg"/></a>
					<p class="product-name"><a href="#">Mẫu sản phẩm 4</a></p>
					<p class="price">9.990.000 VND</p>
					<a class="adding-cart" href="#">Thêm vào giỏ</a>
					<a class="more-detail" href="#">Xem chi tiết</a>
				</div>

				<div class="clear"></div>

				<div class="pagination">
					<a href="#">&lt; Trước</a>
					<a href="#">1</a>
					<a href="#" class="active">2</a>
					<a href="#">3</a>
					<a href="#">Sau &gt;</a>
				</div>
			</section>
		</article>
	</div><!--end of #content-->
	<footer>
		<div class="company-info ">
			<div class="container_16">
				<div class="grid_16">
					<h3>Công ty TNHH Kiến trúc Nội thất MCG</h3>
					<p>Địa chỉ: Tòa nhà F5, Khu Đô thị mới Yên Hòa, Cầu Giấy, Hà Nội</p>
					<p>Điện thoại: (04) 6 269 8625</p>
					<p>Email: noithat.mcg@gmail.com &nbsp;&nbsp;Website: <a href="http://noithatmcg.com">http://noithatmcg.com</a></p>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container_16">
				<div class="grid_16">
					<p>Designed and developed by Nathiwos (<a href="http://www.nathiwos.com">http://www.nathiwos.com</a>)</p>
				</div>
			</div>
		</div>
	</footer><!-- end of footer -->
</body>
</html>
