/*   
Author: Thien Nguyen
Author URI: http://nathiwos.com
Version: 0.0.1
Desc: Style for shopping-cart
*/
#f-shopping-cart{
	border:1px solid #BBBABA;
	margin-top: 20px;
	width: 100%;
}
#f-shopping-cart .shop_table{
	border-collapse: collapse;
	width: 100%;
}
#f-shopping-cart .shop_table td{
	border: 0;
	padding:15px 10px;
}
#f-shopping-cart .shop_table .product-remove{
	width: 18px;
	padding: 7px 5px;
	text-align: center;
}

#f-shopping-cart .shop_table th{
	font-weight: bold;
	color: #232222;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	background-color: #f2f1f1;
}
#f-shopping-cart .shop_table .product-thumbnail{
	padding-left:0;
	padding-right:0;
}
#f-shopping-cart .shop_table .product-thumbnail img{
	width: 104px;
	height: 94px;
}

#f-shopping-cart .shop_table tr.odd td{
	background-color:#f2f1f1;
}

#f-shopping-cart .shop_table .product-name a{
	font-weight: bold;
	color: #16A1C4;
	text-decoration: none;
}
#f-shopping-cart .shop_table .product-name a:hover{
	text-decoration: underline;
}
#f-shopping-cart .shop_table .product-price,
#f-shopping-cart .shop_table .product-subtotal{
	font-family:"Helvetica Neue", Tahoma, "Liberation Sans", FreeSans, sans-serif;
	font-weight: bold;
	text-align: right;
	color: #EF3F47;
}
#f-shopping-cart .shop_table th.product-price ,
#f-shopping-cart .shop_table th.product-subtotal{
	text-align: center;
	color: #232222;
}
#f-shopping-cart .shop_table button:focus{
	outline: 0;
}
#f-shopping-cart .shop_table .quantity input[type='text']{
	padding: 11px 10px 10px 10px;
	padding-right: 16px;
	text-align: center;
	width: 50px;
	border: 1px solid #e8e6e6;
	border-right: 15px solid #BBBABA;
	background-color: #FAFAFA;
}
#f-shopping-cart .shop_table .quantity{
	position: relative;
	width: 75px;
	text-align: right;
}
#f-shopping-cart .shop_table .quantity input[type='button']{
	display: block;
	margin: 0;
	width: 20px;
	height: 20px;
	border:1px solid #ffffff;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	position: absolute;
}

#f-shopping-cart .shop_table .quantity .minus{
	/*background: url(images/arrow-up-red.png) no-repeat center center;*/
	background-color: #FF6565;
	right: -20px;
	top: 21px;
}
#f-shopping-cart .shop_table .quantity .plus{
	/*background: url(images/arrow-down-cyan.png) no-repeat center center;*/
	background-color: #26BDEF;
	right: -20px;
	top: -1px;
}
#f-shopping-cart  .actions{
	text-align: right;
}

.cart-collaterals{
	overflow: hidden;
}
.cart-collaterals .cart_totals {
	float: right;
	width: 360px;
	text-align: right;
}
.cart-collaterals .cart_totals table{
	width: 100%;
	border:1px solid #BBBABA;
	border-collapse: collapse;
}
.cart-collaterals .cart_totals th,
.cart-collaterals .cart_totals td{
	border: 0;
	padding:10px;
	text-align: right;
}

.cart-collaterals .cart_totals tr:nth-child(2) th,
.cart-collaterals .cart_totals tr:nth-child(2) td{
	background-color:#f2f1f1;
}
.cart-collaterals .cart_totals .cart-subtotal td,
.cart-collaterals .cart_totals .total td{
	font-family:"Helvetica Neue", Tahoma, "Liberation Sans", FreeSans, sans-serif;
	font-weight: bold;
	text-align: right;
	color: #EF3F47;
	font-size: 16px;
}
.shipping-calculator-form select,
.shipping-calculator-form input{
	width: 300px;
}

#f-shopping-cart .shop_table .transit_fee,
#f-shopping-cart .shop_table .total,
#f-shopping-cart .charge{
	margin: 16px;
	text-align: right;
}
#f-shopping-cart .total{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	color: #232222;
}
#f-shopping-cart .total .txt-total{
	border:1px solid #16A1C4;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	min-width: 200px;
	text-align: right;
	font-size: 18px;
	font-family:"Helvetica Neue", Tahoma, "Liberation Sans", FreeSans, sans-serif;
	font-weight: bold;
	display: inline-block;
}
#f-shopping-cart .charge button{
	width: 160px;
	margin-left: 10px;
}

#customer-supporter{
	border:1px solid #BBBABA;
	padding: 10px 14px 20px 14px;
}
#customer-supporter h1{
	background: url(../images/support-icon.png) no-repeat left center;
	border:0;
	padding-left: 36px;
}
#customer-supporter h3{
	margin-left: 14px;
	margin-top: 20px;
}
#customer-supporter h3 a{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #16A1C4; 
}
#customer-supporter h3 a:hover{
	text-decoration: underline;
}
#btn-update-cart{
	display: none;
}